<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>File Uploader</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}"
	rel="stylesheet" media="screen" />

<link href="../static/css/demo.css" th:href="@{css/demo.css}"
	rel="stylesheet" media="screen" />

</head>

<body data-ng-app="fileApp">
	<div class="container">
		<br /> <br />
		<div id="description" class="margin-top-2">
			Here you can upload files which will be analyzed for various META
			data, including <em>viruses, worms, trojans, and malware</em>. <br />
			The analysis will be done asynchronously in the background
		</div>
		<br />
		<ul id="action-options" class="tabs nav nav-tabs margin-top-2 center">
			<li id="file-tab" class="active"><a href="#file"
				data-toggle="tab"><i class="icon-file"></i> File</a></li>
			<li id="search-tab" class="disabled"><a id="search-tab-chooser"
				href="#search" data-toggle="tab"><i class="icon-search"></i>
					Search</a></li>
		</ul>
		<div id="file" class="container" data-ng-controller="file-controller">
		<br />
			<span id="file-name" class="file-name"
				style="-moz-user-select: none; text-align: left;"> <input
				type="file" data-file-model="myFile" /></span> 
			<span><button data-ng-click="uploadFile()">upload</button></span>
		</div>
		<div id="search" class="container" style='display: none'>
			<div class="center" style="margin-bottom: 28px">
				<input id="query" type="text" name="query" placeholder="hash" /> <span
					id="query" class="action" style="-moz-user-select: none;">
					Enter Term </span>
			</div>
		</div>
	</div>

	<script
		src="http://cdn.jsdelivr.net/webjars/angularjs/1.5.5/angular.min.js"
		th:src="@{/webjars/angularjs/1.5.5/angular.min.js}" />
	<script src="../static/js/app.js" th:src="@{js/app.js}" />
	<script type="text/javascript" src="https://raw.githubusercontent.com/casper123/angular-sha256/master/sha256.js" />

</body>	
</html>